/*
convencion para ir creando los estilos

1.Posicionamiento --> static, absolute, relative, fixed
2.Modelo de caja (Box model) --> margin, border, padding, content
3.Tipografía --> tipos, tamaños de fuente, etc
4.Estilos visuales --> box-shadow, border-radius, gradient, etc
5.Otros --> reglas CSS y más
*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 118px);
  top: 27rem;
  display: block;
  margin-top: 3.5rem;
  padding: 1.5rem;
  width: 22.9rem;
  height: 4.8rem;
  background-color: var(--off-white);
  /* Sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: .5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header__button span {
    display: inline-block;
    width: 1.3rem;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
.exchange {
    background: var(--off-white);
    min-width: 320px;
    height: 690px;
}
.exchange__image { 
 background-image: url('./assets/imgs/bitcoin.svg');
 background-position-x: center;
 background-repeat: no-repeat;
 background-position-y: calc(100% - 2.9rem);
 width: 100%;
 height:28rem;
}
.exchange-text-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    min-width: 288px;
    margin-bottom: 1.3rem;
}
.exchange-text-container p {
    color: #757575;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.4rem;
}
.exchange h3 {
    color:#FF9536;
    line-height: 2.3rem;
    margin-left: calc(50% - 7.4rem) ;
    margin-top: 4.8rem;
    margin-bottom: 1.1rem;    
    font-size: 1.8rem;
    font-weight: bold;
}
.exchange__table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.exchange__table-container > span {
    display: inline-block; 
    width: 1.3rem;
    height: 20px;
    background-image: url('./assets/icons/mdi_keyboard_arrow_down.svg');
    background-repeat: no-repeat;
    background-position-x: center;
}
.exchange__table {
    background: var(--just-white);
    width: 62%;
    max-width: 225px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
}
.exchange__table, .exchange__table td {
    font-family: 'inter', sans-serif;
    border: 1px solid var(--off-white);
    border-collapse: collapse;
} 
.exchange__table td {
    padding: 11px 11px 11px 12px    
}
.exchange__table td:first-child {  
  line-height: 1.9rem;
  letter-spacing: -0.1px;
  color: #B5B0AC;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
}
.exchange__table td:nth-child(2) {   
    text-align: left;
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16.94px;
    display: flex;
    justify-content: space-between;
  }
.exchange__table tr:nth-of-type(1) span:last-child,
.exchange__table tr:nth-of-type(3) span:last-child,
.exchange__table tr:nth-of-type(4) span:last-child
{  
 display: inline-block; 
 width: 1.3rem;
 height: 14px;
 background-image: url('./assets/icons/trending-down.svg');
 background-repeat: no-repeat;
 background-position-x: center;
}
.exchange__table tr:nth-child(2) span:last-child {  
    display: inline-block; 
    width: 1.3rem;
    height: 14px;
    background-image: url('./assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-position-x: center;
}
.exchange__label {
    background: var(--soft-orange);
    padding: 6px 10px;
    border-radius: 7px;
    width: 54%;
    max-width: 175px;
    margin: 0 auto;
    margin-top: 1rem;
}
.exchange__label span:first-child{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
}
.exchange__label span:nth-child(2){
    font-size: 1.2rem;
    line-height: 15px;
    text-align: center;
}
.benefits {    
    height: auto;
    background: var(--warm-black);
    min-width: 320px;
}
.text-container {
    width: 100%;
    height: 170px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 17px;
    padding-left: 15px;
}
.text-container h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 2rem;
    color: #fff;
}
.text-container p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #808080;
}
.list-container {
    padding-bottom: 10px;
}
.list {
    list-style: none;
    height: auto;
    width: 100%;
    padding: 0 20px;
}
.list .list__item { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 152px;
    max-width: 288px;
    border: 1px solid #282623;
    border-radius: 5px;
    background: #282623;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    margin: 0 auto ;
    margin-bottom: 1rem;
    padding: 1.2rem 1.5rem;
}
.list .list__item .list__title {
    color:#fff;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;   
}
.list .list__item .list__description {
    min-width: 252px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.list .list__item .clock {
    display: inline-block;
    background-image: url('./assets/icons/clock.svg');
    height: 2.5rem;
    width: 3rem;
    background-repeat: no-repeat;
}
.list .list__item .eye {
    display: inline-block;
    background-image: url('./assets/icons/eye.svg');
    height: 2.5rem;
    width: 3rem;
    background-repeat: no-repeat;
}
.list .list__item .dolar {
    display: inline-block;
    background-image: url('./assets/icons/dollar-sign.svg');
    height: 2.5rem;
    width: 3rem;
    background-repeat: no-repeat;
}
.list .list__item .check {
    display: inline-block;
    background-image: url('./assets/icons/check-circle.svg');
    height: 2.5rem;
    width: 3rem;
    background-repeat: no-repeat;
}
.image-section {
    height: 50vh;
    min-width: 320px;
    width: 100%;
    background-image: url('./assets/imgs/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.image-section p {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    padding-top: 44px;
}
.plans {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 30px 10px;
    background: var(--off-white);
}
.plans__title {
    width: 100%;    
    min-width: 288px;
    height: auto;
    text-align: center;
}
.plans__title h5 { 
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans__title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.cards-container{
    min-width: 320px;
    height: auto;
    margin-top: 2rem;
}
.card {
    position: relative;
    min-width: 190px;  
    max-width: 200px;  
    scroll-snap-align: center;
    height: 247px;
    padding: 3.1rem 1rem;
    margin: 3rem 10px;
    text-align: center;
    border-radius: 10px;
    background: var(--just-white);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}
.card__float-button {
    position:absolute;
    top:-10px;
    left: calc(50% - 50px);
    height: 31px;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    color: var(--just-white);
    padding: .8rem 1rem;
    background-color: var(--bitcoin-orange);
    border-radius: 7px;
}
.card__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--black);
}
.card__price {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    font-family: 'Inter',sans-serif ;

}
.card__price .currency{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}
.card__price .value{
    font-size: 52px;
    font-weight: bold;
    line-height: 63px;
}
.card__description {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;    
    color: #757575;
}
.card__button {
    display: inline-block;
    width: 151px;
    height: 48px;
    margin-top: 2rem;
    border:2px solid var(--bitcoin-orange); 
    border-radius: 5px;   
}
.button-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card__button  p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8rem;
    margin-right: 1rem;
}
.card__button span {
    display: inline-block;
    width: 15px;
    height: 20px;
    background-image: url('./assets/icons/arrow-right.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cards-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}
footer{
    display: flex;
    min-width: 320px;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;    
    width: 50%;
    justify-content: center;
    align-items: center;
}
.left ul {
    list-style: none;   
}
.left ul li{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;  
}
.left ul li a {
    text-decoration: none;
    color: #fff;
}
