/*
convencion para ir creando los estilos

1.Posicionamiento --> static, absolute, relative, fixed
2.Modelo de caja (Box model) --> margin, border, padding, content
3.Tipografía --> tipos, tamaños de fuente, etc
4.Estilos visuales --> box-shadow, border-radius, gradient, etc
5.Otros --> reglas CSS y más
*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 118px);
  top: 27rem;
  display: block;
  margin-top: 3.5rem;
  padding: 1.5rem;
  width: 22.9rem;
  height: 4.8rem;
  background-color: var(--off-white);
  /* Sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: .5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header__button span {
    display: inline-block;
    width: 1.3rem;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
.exchange {
    background: var(--off-white);
}
.exchange__image { 
 background-image: url('./assets/imgs/bitcoin.svg');
 background-position-x: center;
 background-repeat: no-repeat;
 background-position-y: calc(100% - 2.9rem);
 width: 100%;
 height:28rem;
}
.exchange-text-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    min-width: 288px;
    margin-bottom: 1.3rem;
}
.exchange-text-container p {
    font-size: 1.4rem;
    color: #757575;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
}
.exchange h3 {
    color:#FF9536;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-left: 7.4rem;
    margin-top: 4.8rem;
    margin-bottom: 1.1rem;
}
.exchange__table {
    background: var(--just-white);
    width: 50%;
    height: 100px;
    margin-bottom: 5rem;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}
.exchange__table td:first-child {
  font-family: 'inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: -0.1px;
  color: #B5B0AC;
  text-align: left;
}
.exchange__table tr:nth-of-type(1) span,
.exchange__table tr:nth-of-type(3) span,
.exchange__table tr:nth-of-type(4) span
{  
 display: inline-block; 
 width: 1.3rem;
 height: 8px;
 background-image: url('./assets/icons/trending-down.svg');
}
.exchange__table tr:nth-child(2) span {  
    display: inline-block; 
    width: 1.3rem;
    height: 8px;
    background-image: url('./assets/icons/trending-up.svg');
    background-repeat: no-repeat;
}