/*
convencion para ir creando los estilos

1.Posicionamiento --> static, absolute, relative, fixed
2.Modelo de caja (Box model) --> margin, border, padding, content
3.Tipografía --> tipos, tamaños de fuente, etc
4.Estilos visuales --> box-shadow, border-radius, gradient, etc
5.Otros --> reglas CSS y más
*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 118px);
  top: 27rem;
  display: block;
  margin-top: 3.5rem;
  padding: 1.5rem;
  width: 22.9rem;
  height: 4.8rem;
  background-color: var(--off-white);
  /* Sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: .5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header__button span {
    display: inline-block;
    width: 1.3rem;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
